.form-container{
    width: 90%;
    height: 100%;
    margin: 20px;
}
#checkout-top-header{
    font-size: 14px;
}
.span{
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.account-info, .shipping, .billing, .payment-info{
    text-align: start;
    font-size: 11px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

input{
    border: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 10px; 
    font-size: 15px;
    border-bottom: 1px solid rgb(192, 189, 189);
    padding-left: 0;
}
select{
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: white;
    font-size: 16px;
    border-bottom: 1px solid rgb(192, 189, 189);
    color: rgb(119, 117, 117);
}
input:focus, select:focus{
    border-bottom: 2px solid black;
}
.state-div input:focus + label{
    transform: translateY(-20px);
    transition: 0.2s;   
}
.placeholder{
    font-size: 14px;
    position: relative;
    top: -30px;
    color: rgb(119, 117, 117);
}

input:focus + label{
    transform: translateY(-20px);
    transition: 0.2s;   
}

.address-info{
    display: flex;
    justify-content: space-between;
}
.account-info input{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.state, .zip{
    width: 95%;
    border-bottom: 1px solid rgb(192, 189, 189);
}

.selector-container{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
#different-address{
    display: flex;
    justify-content: space-between;
}
.state-div{
    margin-top: 20px;
}

.diff-size, .diff-zip{
    width: 95%;
    border-bottom: 1px solid rgb(192, 189, 189);
}
#diff-zip{
    margin-left: 13%;
}
#country-label{
    margin-bottom: 10px;
}
#country-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#country-cont select{
    width: 100%;
}
#addr, #addrId, 
#cityBilling, 
#cityBillingLabel,
#different-address, #country-cont{
    display: none;
}
#billing-check:checked ~ #addrId,
#billing-check:checked ~ #addr,
#billing-check:checked ~ #cityBilling,
#billing-check:checked ~ #cityBillingLabel,
#billing-check:checked ~ #dicityBillingLabel,
#billing-check:checked ~ #address,
#billing-check:checked ~ #address:hover,
#billing-check:checked ~ .address-info,
#billing-check:checked ~ #country-cont{
    display: block;
}


.billing-checkbox label{
    margin-left: 20px;
    font-size: 12px;
}

#billing-check{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
.payment-info input{
    width: 100%;
}
.card-info{
    width: 50%;
}
.date-selector{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.month-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}
.year-div{
    width: 30%;
}
.month-label{
    font-size: 15px;
}
.cvv-div{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 37px;
}

#email, #address, #addr, #cardholderName{
    margin-top: 40px;
}
#year{
    margin-top: 40px;
    width: 100%;
}
#month{
    width: 100%;
    font-size: 16px;
}

.order-items{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 13px;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;  
    font-size: 13px;
    height:10vh; 
}
button{
    padding: 20px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #172C50;
    color: white;
    border: none;
}
button:active{
    background-color: black;
    color: white;
}
.footer-demo{
    display: none;
}

@media(min-width: 768px){
    .container{
        text-align: center;
    }
    .form-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
    }
    #checkout-top-header{
        font-size: 20px;
        font-weight: 400;
        font-size: 16px;
        margin-top: 40px;
    }
    .account{
        display: flex;
        flex-direction: column;
        width: 400px;
    }
 
    .payment-info{
        margin-left: 5%;
        width: 400px;
    }
    button{
        position: static;
        width: 0;
        background-color: white;
        color: black;
        border: 2px solid black;
        padding: 8px;
        padding-left: 70px;
        padding-right: 150px;
    }
    .navbar-max{
        display: none;
    }
    .footer-demo{
        display: block;
        position: relative;
        bottom: -10vh;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}